*.log
.DS_Store
.env
.env.*
!.env.example
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/database/backups/
/database/respaldo*.sql
/database/cleanup_keep_cycle_*.sql
/docs/backups/
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/tenant*/
/storage/pail
/vendor
test_subject.php
Homestead.json
Homestead.yaml
Thumbs.db
